.profile-header{
    position:relative;
    width: 100%;  
    top: 9%;
    /* border: 1px solid #ccc; */
    /* border-radius: 16px;  */
}
        
.profile-picture{
    border-radius: 50%;
}

.profile-picture-background{
    background-color: purple;
    height: 50%;
    width: 100%;
    position: absolute;
    z-index: -100;
    
}



.profile-bio-container{
    display: inline-block;
    padding: 10px;
    float: right;
    cursor: pointer;
    text-align: center;
    /* background: white; */
}

.profile-donate-img{
    width: 30px;
    height: auto;
    
}

.profile-donate-text{
    background: white;
}
.profile-name{
    color: black;
    /* display: inline-block; */
}

.profile-position{
    /* display: inline-block; */
    /* float: right; */
}