.profile-body{
    width: 100%;
    position: relative;
    top: 9%;
    bottom: 10%;
}


.profile-subject-tab-container{
      background-color: #eee;
      color: #444;
      cursor: pointer;

      /* border: none; */
      text-align: left;
      outline: none;
      font-size: 11px;
      box-shadow: 0px 0px 2px gray;
      background: #ffffd4;
      /* display:inline-block; */
      /* width:32%; */

}

.profile-subject-tab{
      display: inline-block;
      width: 32%;
      padding-top: 5px;
      padding-left: 5px;
      padding-bottom: 5px;
      background: inherit;
}

.profile-subject-tab.active{
      background: #c4b57b;
}

.profile-subject-tab-text{
    display: block;
    text-align: center;
}

.profile-subject-tab-img-div{
    display: block;
}

.profile-subject-tab-img{
    width: auto;
    height: 5vh;
    
    display:block;
    margin: auto;
}



