.global-footer {
  height:10%;
  background: #444;
  color: #f1f1f1;
  overflow-x: auto; 
  overflow-y: hidden;
  position: fixed;
  bottom: 0;
  width : 100%;
}

.footer-item{
	width:33.3333333333333333%;
	display:inline-block;
	float:left;
	height:100%;	
	text-align:center;
	padding:10px;
}

.footer-item:hover{
	font-size:20px;
}

i{
	width:100%;
}
.content {
  padding: 16px;
  background: #77c2a9;
}