body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.header {
  height:10%;
  background: #555;
  color: #f1f1f1;
  overflow-x: auto; 
  overflow-y: hidden;
}

.header-item{
	
	width:33.3333333333333333%;
	display:inline-block;
	float:left;
	height:100%;	
	text-align:center;
	padding:10px;
}

.header-item:hover{
	font-size:20px;
}

i{
	width:100%;
}
.content {
  padding: 16px;
  background: #77c2a9;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

